<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="css/signInGoogleButton.css">
        <script src="https://kit.fontawesome.com/fe3d3f96be.js"></script>
    </head>
    <body class="bg-[#333] text-white h-screen flex items-center justify-center">
        <main class="w-[75vw] h-[75vh] flex flex-col justify-center gap-4">
            <div class="mx-auto text-center" id="app-logo">
                <figure>
                    <i
                        class="fa-solid fa-school block text-6xl hover:scale-105"
                        style="color: #1efe80"
                    ></i>
                    <figcaption class="font-mono text-2xl">Academic Planner</figcaption>
                </figure>
            </div>
            <div class="w-2/3 bg-[#272B34] rounded-xl mx-auto p-16 pt-5 text-center relative">
                <hgroup class="mb-3">
                    <h1 class="text-3xl">Welcome!</h1>
                    <p class="text-2xl">
                        Create your <span class="text-[#1EFE80]">new</span> account.
                    </p>
                </hgroup>
                <form
                    action="/signup"
                    method="post"
                    class="flex flex-col gap-2 px-16"
                >
                    <input
                        type="text"
                        id="username"
                        name="username"
                        required
                        placeholder="Username"
                        autofocus
                        class="w-full px-2 py-2 border rounded focus:outline-slate-500 focus:shadow-outline text-black"
                    />
                    <input
                        type="email"
                        id="email"
                        name="email"
                        required
                        placeholder="Email address"
                        autofocus
                        class="w-full px-2 py-2 border rounded focus:outline-slate-500 focus:shadow-outline text-black"
                    />
                    <input
                        type="password"
                        id="password"
                        name="password"
                        required
                        placeholder="Password"
                        minlength="8"
                        maxlength="32"
                        class="w-full px-2 py-2 border rounded focus:outline-slate-500 focus:shadow-outline transition duration-300 text-black"
                    />
                    <input
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        required
                        placeholder="Confirm password"
                        minlength="8"
                        maxlength="32"
                        class="w-full px-2 py-2 border rounded focus:outline-slate-500 focus:shadow-outline transition duration-300 text-black"
                    />
                    <button class="google">
                        <svg
                            class="h-6 w-auto"
                          viewBox="0 0 256 262"
                          preserveAspectRatio="xMidYMid"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                            fill="#4285F4"
                          ></path>
                          <path
                            d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                            fill="#34A853"
                          ></path>
                          <path
                            d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                            fill="#FBBC05"
                          ></path>
                          <path
                            d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                            fill="#EB4335"
                          ></path>
                        </svg>
                        Continue with Google
                      </button>
                      
                    <button
                        type="submit"
                        class="w-1/2 mx-auto rounded-3xl py-2 px-3 mt-3 text-xl bg-[#45ec8e] text-black font-semibold hover:font-bold hover:bg-[#01ff6f] transition-all"
                    >
                        Sign Up
                    </button>
                </form>

                <p class="absolute text-xs bottom-2 left-2">
                    by continuing you agree to our privacy policy and
                    <a href="" class="underline cursor-pointer text-green-400 hover:text-green-300"
                        >terms of service</a
                    >
                </p>
            </div>
            <h3 id="already-have" class="fixed right-[40%] bottom-2">
                Already have an account?
                <span id="signin" class="underline cursor-pointer text-blue-400 hover:text-blue-300"
                    ><a href="/signin">Sign In</a></span
                >
            </h3>
        </main>
    </body>
</html>
